.inputGroupinput {
  width: 100%;
  font-size: 14px;
  color: #fafafa;
  background-color: #202020;
  border: 0;
  height: 2.5rem;
  appearance: none;
  border-radius: 0.375rem;
  padding-inline-start: 2.5rem;
  padding-inline-end: 1rem;
}
.inputGroupinput::placeholder {
  color: #424242;
}
